#canvas{
	top:10%;
	left:35%;
	position: absolute;
	width: 60%;
	height: 80%;
	background-color:#aaffff;
	border-radius: 2%;
	box-shadow: 0rem 0rem 0.5rem 0.5rem #BBBB88;
}
#canvas1{
	width: 100%;
	height: 100%;
	border-radius: 2%;
}
#inputs{
	top:10%;
	left:5%;
	position: absolute;
	width: 30%;
	height: 80%;
	font-size: 0.8rem;
	background-color:#003300;
	border-radius: 2%;
	box-shadow: 0rem 0rem 0.5rem 0.5rem #BBBB88;
}
